
@{
    ViewBag.Title = "Login";
}

<h2>Please Login</h2>
@{Html.BeginForm("Login", "Visitor", FormMethod.Post); 

{
    <div>@Html.Label("User Name","User Name")
         @Html.TextBox("UserName",null,new { @class = "textbox", placeholder = "User Name"})
    </div>
    <div>
        @Html.Label("Password", "Password")
    @Html.TextBox("Password", null, new { @class = "textbox", placeholder = "Password" })
</div>
<div class="col-md-10">
    <input type="submit" value="submit" class="btn btn-default" />
</div>
    }
    Html.EndForm();
}

